# Auto detect text files and perform LF normalization
* text=auto

*.css linguist-detectable=true  
*.js linguist-detectable=true
*.java linguist-detectable=true
*.python linguist-detectable=true
*.html linguist-detectable=true
*.shell linguist-detectable=true
